<section>
    <div class="create-product-button-container">
        <a mat-button class="back-button-container" color="primary" [routerLink]="['/']">VOLTAR</a>
    </div>
    <form class="form-layout" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="title" placeholder="Título">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Salvar Produto</button>
    </form>
</section>
