.back-button-container {
    margin: 1rem 0;
}

.create-product-button-container {
    display: flex;
    justify-content: flex-end;

}

.form-layout {
    display: flex;
    flex-direction: column;
}