<mat-card class="card-product">
    <mat-card-header>
      <ng-container *ngIf="!isEdit">
        <mat-card-title>{{ product.title }}</mat-card-title>
      </ng-container>
      <ng-container *ngIf="isEdit">
        <mat-form-field>
          <mat-label>Product Title</mat-label>
          <input matInput type="text" [formControl]="newTaskTitle" placeholder="Título">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="updateProduct(product.id)">Salvar</button>
      </ng-container>
    </mat-card-header>
    <mat-card-content>
      <p class="card-description-product">
        All the products are fiction to a studying project.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!isEdit" mat-button color="primary" (click)="isEdit = !isEdit">Editar</button>
      <button mat-button color="warn" (click)="deleteProduct(product.id)">Deletar</button>
    </mat-card-actions>
  </mat-card>
